body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(89deg, #520ABF 0%, #2CE6B5 100%)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}
